* {
  margin: 0px;
  padding: 0px;
}

.text {
  font-family: 'Roboto Condensed', sans-serif;
}

header{
  display: flex;
  margin: 30px 120px 0px 120px;
  justify-content: space-between;
  width: 1680px;

}

nav{
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  font: 500 16px/1.25 'Montserrat', sans-serif;
  list-style-type: none;
  width: 469px;
  margin-right: 99px;
  justify-content: space-between;
}

li {
  display: inline;
}

.main-idea{
  size: 745px 306px;
  margin: 180px 0px 246px 0px;
}

.headliner {
  height: 138.31px;
  width: 745px;
  font: 600 100px/122.35% 'Montserrat', sans-serif;
}

.first-section{
  display: flex;
  margin: 43px 162px 0px 178px;
  align-items: center;
  justify-content: space-between;
}

.span_pink {
  color: #EE58B6;
}

.under-headliner{
  width: 545px;
  margin: 4.69px 0px 46px 0px;
  font: 400 26px/1.2 'Roboto Condensed', sans-serif;
}

.point__link_not-decoration {
  text-decoration: none;
  color: #000;
}

.button {
  height: 55px;
  box-sizing: border-box;
  border-radius: 4.59px;
  background-color: #05090C;
  color: #fff;
  font: 600 16px 'Montserrat', sans-serif;
}

.button_short {
  width: 247px;
}

.button_long {
  width: 332px;
}

.main-img {
  size: 762px 636.87px;
  margin: 30.35px 43.43px 64.78px 29.57px;
}

.for-whom {
  display: flex;
  background-color: #000;
  color: #fff;

}

.for-whom_blocks{
  display: flex;
  /*justify-content: space-between;*/
  margin: 111px 391px 142px 391px;
}

.for-whom__block1 {
  /*display: flex;*/
  text-align: center;
  margin-right: 115px;
  width: 285px;
}

.for-whom__block2 {
  width: 337px;
  text-align: center;
  margin-right: 108px;
}

.for-whom__block3 {
  width: 293px;
  text-align: center;
}

.for-whom__description {
  font: 400 22px/1.2 'Roboto Condensed', sans-serif;
  margin: 20px -9px 0px -9px;
}

.motivation{
  display: flex;
  margin: 72px 392px 98px 393px;
  width: 1136px;
  justify-content: ;
}

.motivation__block1{
  display: flex;
  width: 1136px;
  justify-content: space-between;

}

.motivation__block2{
  display: flex;
  width: 1136px;
  justify-content: space-between;
}

.motivation_block1__num1 {
  width: 574px;
  height: 134.97px;
}

.motivation_block1__num2 {
  width: 574px;
  height: 131.1px;
}

.finances{
  size: 510px 476px;
  margin: 0px 52px 44px 0px;
}

.mind-blow{

}

.motivation__heading {
  font: 500 48px/126.06% 'Montserrat', sans-serif;
}

.description__heading {
  font: 500 48px/59px 'Montserrat', sans-serif;
}

.under-motivation{
  font: 400 18px/1.35 'Roboto Condensed', sans-serif;
}

.description__block {
  width: 358px;
  height: 190px;
  background-color: #000;
  color: #fff;
}

.description__block {
  top: 101.23px;
  bottom: 37.72px;
  left: 39.25px;
}

.under-description{
  font: 400 18px/1.17 'Roboto Condensed', sans-serif;
}

footer {
  background-color: #000;
  color: #fff;
  height: 108px;
}

footer{
  width: 1920px;
  height: 108px;
  box-sizing: border-box;
  padding: 10px 840px 10px 877px;
}

.footer__text {
  font: 700 30px/1.22 'Montserrat', sans-serif;
  width: 203px;
  height: 37.69px;
}